body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.partenaire {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.partenaire img {
    width: 8%;
    margin: 11px;
}

.partenaire {
    text-align: center;
    position: absolute;
}