/*css general*/
html, body{
	margin: 0;
	padding: 0;
	background-color: #636e72;
}

ul{
	list-style: none;
}
a{
	text-decoration: none;
	color : black;
}
/*fonts*/
@font-face{
	font-family: Knewave;
	font-weight: normal;
	src: url('font/knewave.ttf');
}
/* partie de Zo */
#logoandtitle{
	display: flex;
	justify-content: flex-start;
	width: 100%;
	height: 90px;
}
#logo{
	background-image: url('images/logo1.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 10%;
	height: 140px;
	margin-left: 5%;
}
#sitename{
	font-size: 60px;
	font-family: Knewave;
	margin: 20px 0px 0px 25%;
	color: white;
	text-shadow: 2px 2px 2px black;
}
#navbar{
	display: flex;
	justify-content: flex-start;
	margin-bottom: 40px;
}
#navbar a{
	text-decoration: none;
	margin-right: 50%;
}
#firstnavlink{
	margin-left: 50%;
}
/* effect de music */
.soundeffect{
   background: orange;
   bottom: 5px;
   height: 5px;
	 position: absolute;
	 top: 16.5%;
   width: 3px;
   animation: sound 0ms -800ms linear infinite alternate;
	 margin-left: 50%;
}
#musicffect{
    height: 30px;
    width: 50px;
		left: 20px;
}
#firstbeats{

}
@keyframes sound {
    0% {
       opacity: .35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 28px;
    }
}
.soundeffect:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.soundeffect:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.soundeffect:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.soundeffect:nth-child(4)  { left: 13px; animation-duration: 458ms; }
.soundeffect:nth-child(5)  { left: 17px; animation-duration: 400ms; }
.soundeffect:nth-child(6)  { left: 21px; animation-duration: 427ms; }
.soundeffect:nth-child(7)  { left: 25px; animation-duration: 441ms; }
/*.bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 37px; animation-duration: 442ms; }*/
/* partie de Tiff */

/*section2 fest-list*/


#style-logo {
	display: flex;
	justify-content: space-around;
	margin-top: 30vh;
}

#style-logo img{

}

#fest-list{
	display: flex;
	justify-content: center;
	margin-top: 30vh;
}

#fest-list li{
	margin: 5vh 3vw;
}
.col {
 width: 20vw;
 text-align: center;
 line-height: 3;
}


.rock-highlight{
	background-color: rgba(230, 33, 108, 0.5);
}

.reggae-highlight{
	background-color: rgba(0, 230, 230, 0.5);
}

.electro-highlight{
	background-color: rgba(169, 255, 23, 0.5);
}

.rap-highlight{
	background-color: rgba(230, 170, 26, 0.5);
}

.darkened{
	background-color: rgba(11, 7, 7, 0.91);
}
/* fin section 2 fest-list */

/* POPUP de MATTHIEU qui pue grave du cul <3 */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    padding-bottom: 100px; /* Location of the box */
    margin-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 90%;
    overflow: scroll;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/*SLIDER*/
.w3-section {
  margin-left: auto;
  margin-right: auto;
}

.mySlides {
    display:none;
    margin: 100px 0 0 200px;
    height: 100vh;
}

.container {
    position: relative;
  }

.im {
    position: absolute;
    margin-top: -700px;
    margin-left: 500px;
}

span {
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px 0;
    font-size: 45px;
}

.text {
    color: white;
    font-size: 17px;
    position: absolute;
    text-align: center;
    margin-top: -80px;
    margin-left: 870px;
    border: 1px solid white;
    background-color:black;
    border-radius: 5px;
    color: whitesmoke;
    padding: 40px 60px;
    font-family: 'Roboto', sans-serif;
}

/*logo genre musical*/
#genres {
    display: flex;
    margin: 50px;
}

.music1 {
  background-color: #e6216c;
  padding:30px;
  border-radius: 50%;
  margin-right: 50px;
}

.music2 {
  background-color: #00e6e6;
  padding:30px;
  border-radius: 50%;
  margin-right: 50px;
}

.music3 {
  background-color: #a9ff17;
  padding:30px;
  border-radius: 50%;
  margin-right: 50px;
}

.music4 {
  background-color: #e6aa1a;
  padding:30px;
  border-radius: 50%;
  margin-right: 50px;
}

/* Pop Up Festivals */

.pic-container {
  background-image: url('./images/qeq-img.png');
  height: 360px;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.center-text h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.center-text h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

.artist-content {
  margin-top: 40px;
  margin-bottom: 50px;
}

.artist-content ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.artist-content li {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.content {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.background {
  padding: 0 25px 25px;
  position: relative;
  width: 100%;
  background-image: url('./images/acab.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


@media (min-width: 900px) {
  .background {
    padding: 0 0 25px;
  }
}

.container {
  margin: 0 auto;
  padding: 50px 0 0;
  max-width: 960px;
  width: 100%;
}

.panel {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }
}

.pricing-table * {
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  border-bottom: 1px solid #111212;
  padding: 25px;
}

.pricing-plan:last-child {
  border-bottom: none;
}

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #111212;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}

.pricing-img {
  margin-bottom: 25px;
  width: 45px;
  margin-left: auto;
  margin-right: auto;
}

.pricing-header {
  color: #111212;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  color: #111212;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px;
}

.pricing-features-item {
  border-top: 1px solid #111212;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #111212;
}

.pricing-price {
  color: #111212;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #111212;
  border-radius: 10px;
  color: #111212;
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #f19533;
}

.pricing-button.is-featured {
  background-color: #111212;
  color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
  background-color: #111212;
}


