

dy {
	background-color: ##636e72;
}


#popup {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}



#popup:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 80%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}




=======
/*SLIDER*/
.mySlides {
    display:none;
    margin: 100px 0 0 200px;
    height: 100vh;
}

.container {
    position: relative;
  }

.im {
    position: absolute;
    margin-top: -700px;
    margin-left: 500px;
}

span {
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px 0;
    font-size: 45px;
}

.text {
    color: white;
    font-size: 17px;
    position: absolute;
    text-align: center;
    margin-top: -80px;
    margin-left: 870px;
    border: 1px solid white;
    background-color:black;
    border-radius: 5px;
    color: whitesmoke;
    padding: 40px 60px;
    font-family: 'Roboto', sans-serif;
}

/* Pop Up Festivals */

.pic-container {
  background-image: url('./images/qeq-img.png');
  height: 360px;
  width: 83%;
  margin: 50px 50px 50px 50px;
}

.center-text {
  text-align: center;
}

.center-text h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.center-text h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

.artist-content {
  margin-top: 40px;
  text-align: center;
}

.artist-content ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.artist-content li {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

