/*css general*/
html, body{
	margin: 0;
	padding: 0;
	background-color: white/*#636e72*/;
}

ul{
	list-style: none;
}
a{
	text-decoration: none;
	color : black;
}
/*fonts*/
@font-face{
	font-family: Knewave;
	font-weight: normal;
	src: url('font/knewave.ttf');
}
@font-face{
	font-family: Directors;
	font-weight: normal;
	src: url('font/DirectorsRegular.ttf');
}
@font-face {
	font-family: VictoryComics;
	font-weight: normal;
	src: url('font/victorycomicstwotone.ttf');
}
/*couleur
blue : #00e6e6;
red-ish : #e6206d;
orange : ##e67612;
green : #a9ff16;
*/

/* HEADER */
header{

}

/* gros bandeau de navigation*/
#fatnavbar{
	background: linear-gradient(#fff95b,/*#df68f9,*/#fc92c0/*,#ffbfda*/);
}
/*logo et titre*/
#logoandtitle{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 90px;
	text-align: center;
	background-color: transparent;
}
#sitename{
	font-size: 80px;
	font-family: Knewave;
	color: white;
	text-shadow: 2px 2px 2px black;
	margin-right: 20%;
	margin-top: 30px;
}
#logo{
	background-image: url('images/logo1.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 20%;
	height: 300px;
	z-index: 10;
	animation: Slipinice 3s infinite;
	display: flex;
	transition: 2s;
	overflow: visible;
}
/* animatoin rotate*/
@keyframes Slipinice{
	0%{
		transform: rotate(0deg);
		}
	50%{
		transform: rotate(5deg);
		}
	100%{
		transform: rotate(0deg);
		}
}
/*navigation*/
#navbar{
	display: flex;
	justify-content: center;
	padding-top: 14px;
	background-color: transparent;
}
#navbar a{
	text-decoration: none;
	margin-right: 20%;
	font-size: 26px;
	font-family: Directors;
	color: #dddddd;
	text-shadow: 2px 2px 4px black;
}
/* effect de music */
.soundeffect{
 background: #00e6e6;
 float: left;
 left: 40%;
 height: 1px;
 margin: 0 4px 0 0;
 padding: 1px;
 transition: all linear 500ms;
 width: 3px;
 -webkit-box-reflect: below -1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.35, transparent), to(black));
}
#musiceffect{
		display: flex;
		justify-content: center;
		height: 50px;
		padding-right: 10px;
		background-color: transparent;
}

/*SLIDER*/
.w3-section {
  margin-left: auto;
  margin-right: auto;
}

.mySlides {
    display:none;
    margin: 0 0 0 5%;
    height: 100vh;
}

.container {
    position: relative;
  }

.container img{
  width: 95%;
}

.date {
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px 0;
    font-size: 45px;
}

.text {
		float: right;
    color: white;
    font-size: 17px;
    position: absolute;
    text-align: center;
    margin-top: -30%;
    margin-left: 85%;
    border: 1px solid white;
    background-color:black;
    border-radius: 5px;
    color: whitesmoke;
    padding: 20px 40px;
    font-family: 'Roboto', sans-serif;
}

/*logo genre musical*/
/* #genres {
  display: flex;
  margin: 50px;
} */

#style-logo {
	display: flex;
	justify-content: space-around;
  margin-bottom: 15vh;
  margin-top: -100px;
}

.music1 {
background-color: #e6216c;
padding:30px;
border-radius: 50%;
margin-right: 50px;
}

.music2 {
background-color: #00e6e6;
padding:30px;
border-radius: 50%;
margin-right: 50px;
}

.music3 {
background-color: #a9ff17;
padding:30px;
border-radius: 50%;
margin-right: 50px;
}

.music4 {
background-color: #e67612;
padding:30px;
border-radius: 50%;
margin-right: 50px;
}

/* planning festival par mois*/
#fest-list{
	display: flex;
	justify-content: center;
  /* margin-top: 30vh; */
  text-align: center;
  background-color: #f7fdfd;
}

#fest-list li{
	margin: 5vh 3vw;
}
.col {
 text-align: center;
 line-height: 3;
}

/* highlight des onclicks par catégorie */
.rock-highlight{
	background-color: rgba(230, 33, 108, 0.5);
}

.electro-highlight{
	background-color: rgba(0, 230, 230, 0.5);
}

.reggae-highlight{
	background-color: rgba(169, 255, 23, 0.5);
}

.rap-highlight{
	background-color: rgba(230, 170, 26, 0.5);
}
/* darkened zones */
.darkened{
	background-color: rgba(11, 7, 7, 0.91);
}
/* fin section 2 fest-list */

/* POPUP de MATTHIEU qui pue grave du cul <3 */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    padding-bottom: 100px; /* Location of the box */
    margin-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 90%;
    overflow: scroll;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Pop Up Festivals */

.pic-container {
  background-image: url('./images/qeq-img.png');
  height: 360px;
  width: 83%;
  margin: 50px 50px 50px 50px;
}

.center-text {
  text-align: center;
}

.center-text h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.center-text h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

.artist-content {
  margin-top: 40px;
  text-align: center;
}

.artist-content ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.artist-content li {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}


/*partenaires*/
.partenaires {
  /* position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);*/
  margin-left: 0;
  margin-right: 0;
}

.partenaire img {
  width: 5%;
  margin: 11px;
}

.partenaire {
  text-align: center;
  position: absolute;
}
